.attributes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.atrib-card{
    display: flex;
    flex: 0 0 calc(10% - 1rem);
    flex-direction: column;
    min-width: 6.4rem;
    width: auto;
    border-radius: 25px;
    padding: 0.5rem;
    background: rgba(219, 219, 219, 0.192);
    margin-bottom: 1rem;
}

.atrib-card-header {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.atrib-card-header h6{
    margin-left: 0.2rem;
}

.atrib-card-value input{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    border: none;
    background-color: transparent;
}

.atrib-card-mod input{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
}

.atrib-card-deb{
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.debilidade {
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
    color: var(--danger, #f00);
}

.lock-toggle input{
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}
.lock-icon{
    width: 13px;
    height: 13px;
    float: right;
    cursor: pointer;
    font-size: 12px;
    content: "🔒";
    transition: transform 0.2s ease;
    
}
.lock-icon::before {
    content: "🔒";
}


/* The magic: when clicked/checked, change the icon image */
.lock-toggle input:checked + .lock-icon {
  content: "🔓";
  /* background-image: url('/assets/icons/lockoff.webp'); */
  transform: scale(1.1);
  /* background-color: var(--danger); */
}
.lock-toggle input:checked + .lock-icon::before {
  content: "🔓";
}

@media (max-width: 870px) {
    .atrib-card {
        flex: 0 0 calc(25.3333% - 10px);
        padding: 0.2rem;
    }
    .atrib-card-value{
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
        margin-bottom: 1px;
    }
}