.carousel-container {
  position: relative;
  width: 100%;
  height: 37rem;
}


.scroll-group {
  display: flex;
  gap: 20px; /* Adjust spacing here */
  padding-right: 20px; /* Ensures the gap is maintained between loops */
}

.carousel {
  --carousel-anchor: --carousel-default;
  anchor-name: var(--carousel-anchor);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 1rem;

  height: 101%;

  margin: 0 1.5rem;
  overflow: auto hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;

  /* animation: scroll-left 10s linear infinite; */

  /* animation: scroll-right 10s linear infinite; */

  &::-webkit-scrollbar {
    display: none;
  }
 
  .movement-card {
    flex: 0 0 20rem;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }

  &::scroll-button(*) {
    position: fixed;
    position-anchor: var(--carousel-anchor);
    position-visibility: always;
    font-size: 5rem;
    color: var(--gold);
    height: 3rem;
    width: 3rem;
    padding-bottom: 0.5rem;
    border: 1px solid transparent;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  &::scroll-button(*):hover {
    transform: scale(1.4);
  }

  &::scroll-button(right) {
    position-area: inline-end center;
    content: '\203A' / 'Next'; 
  }

  &::scroll-button(left) {
    position-area: inline-start center;
    content: '\2039' / 'Previous';
  }

  > .carousel__slide {
    animation: offscreen-inert linear both;
    animation-timeline: view(x);
  }



}

  @keyframes offscreen-inert {
    entry 0%, exit 100% {
      interactivity: inert;
    }
    entry 100%, exit 0% {
      interactivity: auto;
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Moves exactly half the total track width */
    }
  }

  @keyframes scroll-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50%); /* Moves exactly half the total track width */
    }
  }