.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 1rem;

  margin: 0 1.5rem;

  overflow: auto hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  anchor-name: --carousel;

  .movement-card {
    flex: 0 0 20rem;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }

  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    position-visibility: always;
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
    border: 1px solid transparent;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  &::scroll-button(right) {
    position-area: inline-end center;
    content: '\203A' / 'Next'; 
  }

  &::scroll-button(left) {
    position-area: inline-start center;
    content: '\2039' / 'Previous';
  }

  > .carousel__slide {
    animation: offscreen-inert linear both;
    animation-timeline: view(x);
  }

  @keyframes offscreen-inert {
    entry 0%, exit 100% {
      interactivity: inert;
    }
    entry 100%, exit 0% {
      interactivity: auto;
    }
  }

}