.movement-card {
    --card-width: var(--movement-card-width);
    --card-min-height: var(--movement-card-min-height);
    --card-title-size: clamp(.7rem, 1.1rem, 1.5rem);
}

.basic-movement-card{
    --cardColor: var(--basic);
}


.movement-card-roll{
    font-size:1rem;
    font-weight:bold;
    color:var(--card-roll-badge);

}

.movement-card-roll-detail{
    min-width:65px;
    font-size: 0.9rem;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
}

.movement-card-roll-detail-icon{
    width:2.5rem;
    height:2.5rem;
    border-radius:5%;
}

.movement-card-roll-detail span{
    font-size:0.8rem;
    width:105%;
    text-align:center;
    color:var(--card-description);
    padding:2px;
    border: 1px solid var(--gold);
    background:var(--card-roll-shadow);
    clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.movement-card-description input{
    width:10rem;
    font-size:0.9rem;
    font-family: "outfit", sans-serif;
    text-align: start;
}

.movement-card-description p{
    margin-left: 10px;
    text-align: start;
    line-height: 1.1rem;
}
