::root{
    --card-border:#b4b4b4;
    --card-description:#ececec;
    --card-description-even:#cccccc;
    --card-roll-badge:#6d6d6d;
}

.movement-card{
    width:320px;
    /* height: 480px; */
    height:fit-content;
    background:#ececec;
    border-radius:14px;
    overflow:hidden;
    border:1px solid #cfcfcf;
}

.movement-card-header{
    background:#b0b0b0;
    
    padding:15px;
    display:flex;
    align-items:center;
    gap:10px;
}
.movement-card-header img{
    width:42px;
    height:42px;
    border-radius:50%;
}

.movement-card-header h2{
    flex:1;
    flex-wrap:wrap;
    font-size: 1.5rem;
    margin:0;
    color:white;
}

.movement-card-roll-sign{
    font-size:22px;
    font-weight:bold;
}

.movement-card-description{
    padding:15px;
    font-size:1.3rem;
    background:var(--card-description);
}

.movement-card-result{
    display:flex;
    align-items:center;
    background:transparent;
}

.even{
    background:var(--card-description-even);
}

.movemenrt-card-result-badge{
    background:var(--card-roll-badge);
    color:white;
    font-weight:bold;
    border-radius:50px;
    margin-right:12px;
}

.movement-card-result img{
    width:27px;
    height:27px;
    border-radius:50%;
    margin-left:-12px;
}

.movement-card-info{
    background:black;
    color:white;
    border-radius:50%;
    width:42px;
    height:42px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:12px;
    font-weight:bold;
}

.movement-card-footer{
    background:#666;
    color:white;
    padding:10px 15px;
    text-transform:uppercase;
}