:root{
    --card-border:rgb(180, 180, 180);
    --card-description:#ececec;
    --card-description-even:rgb(204, 204, 204);
    --card-roll-badge:#6d6d6d;
    --card-roll-shadow:rgb(82, 82, 82);
    
}

.movement-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Movement Panel Styles */
.movement-panel{
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* overflow-y: auto; */
    padding-bottom: 1.563rem;
}

.movement-panel-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.movement-panel-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.movement-panel-title input[type="checkbox"]:disabled:checked {
    background-color: var(--green) !important;
    border-top-color: var(--ultra);
    border-left-color: var(--ultra);
    box-shadow: 0.1rem 0.1rem 0.1rem inset var(--ultra);
    cursor: not-allowed;    
}



.movement-panel-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.movement-panel-details{
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
}

.movement-panel-roll{
    
}

.movement-panel-description{
    background: rgba(204, 204, 204,0.8);
    font-family: var(--secondary-font);
    font-size: 1.09rem;
    padding: 0.5rem;
    padding-left: 1rem;
        
}

.movement-panel-description .badge{
    font-weight: 800;
} 

.movement-panel:has(input[type="checkbox"]:disabled:checked){
    .movement-panel-description {
        box-shadow: 0.3125rem 0.3125rem 1.2rem inset rgb(82, 82, 82,0.55);
    }
    
}

.movement-select{
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid var(--blue);
    background: white;
    cursor: pointer;
    position: relative;
}
.movement-select:checked{
    background: black;
    box-shadow: 0.2rem 0.2rem 0.25rem inset var(--blue);
    border-bottom-color: black;
    border-right-color: black;
}

.movement-panel:has(input[type="checkbox"]:checked)
    .movement-panel-description {
        box-shadow: 0.3125rem 0.3125rem 1.2rem inset rgb(36, 66, 86,0.7);
}