:root {
    --card-border: #696969;
    --card-description: #ececec;
    --card-description-even: #cccccc;
    --card-roll-badge: #6d6d6d;
    --card-roll-shadow: #525252;
    --laranja: #F08700;
    --azul1: #2708A0;
    --azul2: #4316F3;
    --azul3: #28AFB0;
    --rosa: #F00699;

}

.movement-cardbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    overflow-y: auto;
}

.movement-card {
    width: 20rem;
    height: fit-content;
    min-height: 36rem;
    background: var(--gold);
    border-radius:14px;
    overflow:hidden;
    border:1px solid #4e4d4d;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 2px 2px 5px 1px var(--card-roll-shadow);
}

.movement-card-header{
    /* background: var(--card-border); */
    padding: 10px 5px 5px 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 67px;
    flex-grow: 0;
}

.movement-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movement-card-icon {
    display: flex;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.movement-card-title h2 {
    flex: 1;
    flex-wrap: wrap;
    font-size: 1rem;
    margin: 0;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    text-align: left;
    max-width: 200px;
}

.movement-card-roll {
    font-size: 1rem;
    font-weight: bold;
    color: var(--card-roll-badge);

}

.movement-card-roll-detail {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movement-card-roll-detail-icon {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 5%;
}

.movement-card-roll-detail span {
    font-size: 1rem;
    text-align: center;
    background: linear-gradient(45deg, var(--danger), var(--red));
    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    /* Para alguns navegadores */
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

.movement-card-description {
    margin: 0.5em;
    padding: 0.75rem;
    font-family: var(--secondary-font);
    font-size: 0.9rem;
    text-align: justify;
    background: var(--card-description);
    flex: 1 1 auto;
    border-radius: 10px 33px 10px 10px;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.movement-card-description p {
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 1px;
    margin: 10px;
    text-align: justify;

}


.movement-card-result {
    display: flex;
    align-items: center;
    background: transparent;
}

.even {
    background: var(--card-description-even);
}

.movement-card-result-badge {
    background: var(--card-roll-badge);
    color: white;
    font-weight: bold;
    border-radius: 50px;
    margin-right: 12px;
}

.movement-card-result img {
    width: 27px;
    height: 27px;
    border-radius: 12%;
    padding-top: 50px;
    margin-left: -12px;
}

.movement-card-info {
    background: black;
    color: white;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    font-weight: bold;
}

.movement-card-footer {
    font-family: var(--tertiary-font);
    font-weight: 350;
    background: var(--card-border);
    color: var(--yellow);
    padding: 5px 15px 10px 15px;
    text-transform: uppercase;
    font-size: 0.7rem;
    /* align-self:flex-end; */
    
}

.movement-card-description .badge {
    width: 30px;
    height: 30px;
    background-color: #292929;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 100;
    box-shadow: 0px 0px 0px 3px var(--card-description);
    margin-left: -23px;
}