:root{
    --spell-card-width: 20rem;
    --spell-card-min-height: 36rem;
    --wizard: var(--purple);
    --cleric: #B7D5D4;
}

.spell-card-group{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    height: calc(3rem+ var(--spell-card-min-height));
}

.spell-card-group h3{
    display:flex;
    align-items:center;
    justify-content:flex-start;
}

.spell-card-container{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    gap: 1rem;
    padding-bottom: 1rem;
}

.spell-card {
    --card-width: var(--spell-card-width);
    --card-min-height: var(--spell-card-min-height);
    --card-title-size: 1rem;
}

.mago-spell-card{
    --cardColor: var(--wizard);
}

.clérigo-spell-card{
    --cardColor: var(--cleric);
}

.spell-card-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.spell-card-school{
    font-size: 0.7rem;
    display:flex;
    flex-direction:row;
    margin-left: auto;
    justify-content: space-between;
    align-items:center;
    align-items:flex-end;
}

.spell-card-school span{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    font-size:0.8rem;
    min-width:18rem;
    text-align:center;
    color:var(--card-description);
    padding:2px;
    border: 1px solid var(--gold);
    background:var(--card-roll-shadow);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 0 50%);

}

.spell-card-description{
    font-size: 0.8rem;
    font-family: "outfit", sans-serif;
    line-height: 1.2rem;
}

.spell-card-description p{ 
    display: block;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 1px;
    text-align: justify;
}

.spell-card-description .badge {
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin-left: -23px;
}