@property --idx {
    syntax: '<number>';
    inherits: false;
    initial-value: 1;
}

.xp-alignment-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.xp-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 12px;
    gap: 1rem;
}

.xp-container strong {
  margin-bottom: 8px;
  font-size: 14px;
  align-self: center;
}

.nivel-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.charLevelInput {
    width: 3rem;
    padding: 5px;
    margin: 5px 0;
}

.xp-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  gap: 0.5rem;
}

.xp-circles-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.circle {
    width: 1rem;
    height: 1rem;
    border: 2px solid rgb(
        calc(143 + 37 / 17 * (var(--idx) - 1))
        calc(140 / 17 * (var(--idx) - 1))
        calc(17 + 43 / 17 * (var(--idx) - 1))
    );
    align-self: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease;
    flex-shrink: 1;
}

.circle.active {
    background: rgb(
        calc(143 + 37 / 17 * (sibling-index() - 1))
        calc(140 / 17 * (sibling-index() - 1))
        calc(17 + 43 / 17 * (sibling-index() - 1))
    );
}


@media (max-width: 870px) {
    .xp-circles-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex: 0 0 calc(4% -0.5rem);
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}